{% extends "base.html" %}

{% block content %}

<section class="container-fluid">
	<div class="row">
		<div id="div-cluster-health" class="container col-sm-6">
			{% include 'ocpClusterStatus.html' %}
		</div>
		<div class="shell-wrap" class="col-sm-6">
			<p class="shell-top-bar">/var/log/bigredbutton/</p>
			<ul class="shell-body" id="div-app-console">
			  <li></li>
			</ul>
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div id="div-chaos-wheel" class="container text-center col-sm-12">
			<button name="chaos" id="button-chaos" class="btn btn-danger btn-lg btn-block m-3">Click Me!!!!</button>
			<img id="img-dk-gif" src="img/dk.gif" class="img-fluid mx-auto d-none m-3" />
		</div>
	</div>
</section>

{% endblock %}
