<h2>OCP Cluster Health</h2>

<h3>Master/Infra Nodes</h3>
<ul class="list-group">
  {% for ocpNode in ocpControlStatus %}
  <li class="list-group-item">
    {{ ocpNode.name }}
    {% if ocpNode.status == 'ACTIVE' %}<span class="badge alert-success pull-right">Healthy</span>{% else %}<span class="badge alert-danger pull-right">Unhealthy</span>{% endif %}
  </li>
  {% endfor %}
</ul>
<h3>Nodes</h3>
<ul class="list-group">
  {% for ocpNode in ocpNodeStatus %}
  <li class="list-group-item">
    {{ ocpNode.name }}
    {% if ocpNode.status == 'ACTIVE' %}<span class="badge alert-success pull-right">Healthy</span>{% else %}<span class="badge alert-danger pull-right">Unhealthy</span>{% endif %}
  </li>
  {% endfor %}
</ul>
